<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>DOG WALKER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <header style="background-color: cadetblue;padding: 20px;color: white;font-weight: 600;font-size: 18px;">
        <p style="margin: 0px;">DogWalk</p>
    </header>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Lista de dog walker</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <h3>Escolha o melhor DogWalk para o passeio do seu pet!</h3>
    </div>


    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr style="background-color: rgb(56, 56, 56);color: white;border: none;">
              <th style="border-radius: 8px 0 0 8px;" scope="col">Nome</th>
              <th scope="col">Valor</th>
              <th scope="col">Data</th>
              <th scope="col">Horário disponível </th>
              <th style="border-radius: 0 8px 8px 0;" scope="col">Contrate </th>
            </tr>
          </thead>
          <tbody style="background-color: rgb(224, 224, 224); color: black;border-radius: 8px;">
          {% for dbs in db %}
          <tr>
              <td style="border-bottom: solid 1px rgb(138, 138, 138);">{{dbs.nome_dog}}</td>
              <td style="border-bottom: solid 1px rgb(138, 138, 138);">{{dbs.valor}}</td>
              <td style="border-bottom: solid 1px rgb(138, 138, 138);">{{dbs.data}}</td>
              <td style="border-bottom: solid 1px rgb(138, 138, 138);">{{dbs.hora}}</td>
              <td style="border-bottom: solid 1px rgb(138, 138, 138);">
                  <a href="/contratacao" class="btn-dark" style="padding:10px;border-radius:8px;">Contratar</a>
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
        <a href="/" class="btn btn-info">Voltar</a>
    </div>

    <!--<div class="pagination">
        {% if db.has_previous %}
            <a href="?page{{db.previous_page_number}}"> < </a>
        {% endif %}

        {%db.number}

        {% if db.has_next %}
            <a href="?page{{db.previous_page_number}}"> > </a>
        {% endif %}

    </div>-->
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>

 </body>
</html>